body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url("#{request.contextPath}/resources/img/bg.jpg");
    background-size: 70%;
}

.topo {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    z-index: 1000;

    background-color: #F57C17;
}

.ui-widget-content {
    border: none !important;
    font-weight: bold;
    font-size: 12px;
}

.img-pb{
    filter: grayscale(100%);
}

.cabecalho {
    margin-top: 50px;
}

.sobre-jogo {
    background-color: #FFF9DA;
    padding: 20px 0 20px 0;
}

.como-jogar {
    padding: 20px 0 20px 0;
}

.ranking {
    padding: 20px 0 20px 0;
    background-color: #FFF9DA;
}

.rodape {
    background-color: #F57C17;
    height: 30px;
}

.card {
    background-color: #FFFFFF;
    border: none !important;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn {
    background: #F57C17 !important;
    padding: 15px !important;
    text-shadow: none !important;
    border: none !important;
    color: #FFFFFF !important;
    margin-bottom: 50px;
    font-weight: bold;
}

.conteudo2 {
    height: 500px;

}

h1 {
    text-align: center;
    color: #F57C17; 
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ui-galleria {
    width: 100% !important;
}

.img {
    border-radius: 50%;
    border: none !important;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.topnav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: #F57C19;
    z-index: 1000;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #F49E08;
    color: #FFFFFF;
}

.active {
    background-color: #F49E08;
    color: white;
}

.topnav .icon {
    display: none;
}

.login {
    float:right !important;
}

.logo {
    width: 60%;
}

.gabriel {
    width: 100%;
}

@media (max-width: 640px){
    .login{float:none !important}
    .logo {
        width: 90%;
    }
    .gabriel{
        width: 70%;
    }
}

.ui-galleria-panel-wrapper{
    width: 100% !important;
}

.ui-galleria-panel{
    width: 100% !important;
    height: auto !important;
}

@media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
    .login{float:none !important}
}

@media screen and (max-width: 700px) {
    .topnav.responsive {position: fixed;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .login{float:none !important}
}

.msg {
    font-size: 20px;
    color: #F57C17;
    font-weight: bold;
}

.msg-panel {
    top: 200px;
    position: relative;
}

p {
    font-size: 18px;
}

#como-jogar p, #sobre-jogo p {
    text-indent : 3em;
}

h2 {
    text-align: center;
}

h2 i {
    margin-right: 20px;
}

.bold {
    font-weight: bold;
}

.subitem {
    margin-left : 6em !important;
}